.Container {
  height: auto;
  margin: 0px auto;
  width: 1200px;
}

.Header {
  color: cadetblue;
  display: flex;
  justify-content: space-around;

  height: 70px;
  margin: 0px auto;
  box-shadow: 0px 2px 4px rgb(27 78 163 / 20%),
    0px 4px 8px rgb(41 121 255 / 20%);
  border-radius: 4px;
  border-color: aliceblue;
  font-size: 20px;
  background-color: antiquewhite;
}

.HtmlInterpreter {
  display: flex;
  justify-content: center;
  box-shadow: 0px 2px 4px rgb(27 78 163 / 20%),
    0px 4px 8px rgb(41 121 255 / 20%);
  border-radius: 4px;
  border-color: aliceblue;
}
.compalier {
  color: cadetblue;
  border-color: aliceblue;
}
iframe {
  width: 1200px;
  border-color: aliceblue;
}
